section {
	border: 1px solid black;
	clear: both;
}
.container {
	float: left;
	border: .5px dotted black;
	min-height: 250px;
	padding: 2px;
	margin: 5px;
}
ul, li {
	list-style: none;
}
.receiptItems {
	float: left;
}
.receiptPrice {
	float: right;
}